header {
  height: 50px;
  background-color: #253939;
}

header img{
  float: right;
  margin: 10px 15px 10px 0px;
}

.main {
  background-color: #558188;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 30px;
}
.close {
  margin: 15px 15px 0px 0px;
}

.card-comments {
    color : #003399;
    text-decoration: underline;
}

.comments {
  background-color: #CCFFCC;
  margin: 2px 0px 8px 0px;
}
